<!doctype html>
<html lang="ru">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="{{ url_for('static', filename='main.css') }}" rel="stylesheet">
        <script  src="{{ url_for('static', filename='json.js') }}"></script>
        {% if title %}
        <title>{{ title }} - Test</title>
        {% else %}
        <title>No Title</title>
        {% endif %}
    </head>
    <body>
        <div style="background-color:red">
            {% with messages = get_flashed_messages() %}
            {% if messages %}
            <ul>
                {% for message in messages %}
                <li>{{ message }}</li>
                {% endfor %}
            </ul>
            {% endif %}
            {% endwith %}
        </div>
        {% block content %}{% endblock %}
    </body>
</html>